<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<h1><%= t(:editing_label) %></h1>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @label } %>

<%= form_for [:admin, @label] do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
<% end %>
